<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path=""
    data-template="vertical-menu-template-free">

<head th:replace="~{fragments/head :: head('Edificios')}"></head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container" id="app" v-cloak>

            <!-- Sidebar -->
            <div th:replace="~{fragments/sidebar :: administrator}"></div>
            <!-- / Sidebar -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <div th:replace="~{fragments/navbar :: navbar}"></div>
                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">

                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="align-items-center d-flex justify-content-between mt-0 mb-4">
                            <h4 class="fw-bold py-0 mb-0"><span class="text-muted fw-light">Registro /</span> Clientes
                            </h4>
                            <a th:href="@{/administrator/client-create}">
                                <button type="button" class="btn btn-primary">Crear</button>
                            </a>
                        </div>
                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                            <h5 class="card-header">Registro</h5>
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre o Razon</th>
                                            <th>Num. Identidad</th>
                                            <th>dirección</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                        <tr v-for="c in clientes" :key="c.idcliente">
                                            <td><strong>{{ c.razon_cliente }}</strong></td>
                                            <td>{{ c.num_identidad }}</td>
                                            <td>{{ c.direccion_cliente }}</td>
                                            <td>
                                                <span class="badge me-1" :class="getEstadoInfo(c.estado_cliente).clase">
                                                    {{ getEstadoInfo(c.estado_cliente).texto }}
                                                </span>
                                            </td>
                                            <td>
                                                <div class="dropdown dropstart">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                        data-bs-toggle="dropdown" data-bs-display="static">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a :href="'/administrator/client-edit/' + c.idcliente"
                                                            class="dropdown-item">
                                                            <i class="bx bx-edit-alt me-1"></i> Editar
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item"
                                                            @click="prepararEliminar(c.idcliente)">
                                                            <i class="bx bx-trash me-1"></i> Eliminar
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/ Basic Bootstrap Table -->

                        <!-- Cargando -->
                        <div v-if="cargando" class="text-center py-5">
                            <div class="spinner-border text-primary" role="status"></div>
                            <p class="mt-2 text-muted">Cargando clientes...</p>
                        </div>
                        <!-- No hay datos -->
                        <div v-if="!cargando && clientes.length === 0" class="alert alert-danger w-100 mt-2"
                            role="alert">
                            No existen datos que mostrar
                        </div>
                        <!-- Toggle Between Modals -->
                        <div class="col-lg-4 col-md-6">
                            <div class="mt-3">
                                <!-- Modal 1-->
                                <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel"
                                    tabindex="-1" style="display: none" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalToggleLabel">Eliminar Edificio</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">¿Desea eliminar el cliente? Esta acción no se puede
                                                deshacer</div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button type="button" @click="confirmarEliminar"
                                                    class="btn btn-primary">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Toggle Between Modals -->
                    </div>
                    <!-- / Content -->

                    <!-- Footer -->
                    <div th:replace="~{fragments/footer :: footer}"></div>
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>

    <script>
        new Vue({
            el: "#app",
            data: {
                idusuario: '',
                nomusuario: '',
                rolusuario: '',
                idcliente: null,
                clientes: [],
                cargando: false,
                error: null
            },
            methods: {
                cargarCliente: function () {
                    this.$http.get('/api/session/usuario')
                        .then(response => {
                            const user = response.data;
                            if (user.idusuario) {
                                this.idusuario = data.idusuario;
                                this.nomusuario = data.nomusuario;
                                this.rolusuario = data.rolusuario;
                            };
                        })
                },
                mostrarModal: function (titulo, mensaje, tipo) {
                    this.modalTitulo = titulo;
                    this.modalMensaje = mensaje;
                    this.modalClase = tipo;
                    $("#modalToggle").modal("show");
                },
                listar: function () {
                    this.cargando = true;
                    this.$http.get('/api/cliente').then(response => {
                        this.clientes = response.body;
                        this.cargando = false;
                    }).catch(err => {
                        console.error(err);
                        this.error = "Error al cargar los clientes.";
                        this.cargando = false;
                    });
                },
                getEstadoInfo: function (codigo) {
                    switch (codigo) {
                        case 1:
                            return { texto: "Activo", clase: "bg-label-success" };
                        case 2:
                            return { texto: "Suspendido", clase: "bg-label-warning" };
                        case 3:
                            return { texto: "Eliminado", clase: "bg-label-danger" };
                        default:
                            return { texto: "Desconocido", clase: "bg-label-secondary" };
                    }
                },
                getRolInfo: function (codigo) {
                    switch (codigo) {
                        case 1:
                            return { texto: "U. MAESTRO", clase: "bg-label-success" };
                        case 2:
                            return { texto: "ADMIN. EDIFICIOS", clase: "bg-label-success" };
                        case 3:
                            return { texto: "ADMIN. PROPIETARIO", clase: "bg-label-success" };
                        case 4:
                            return { texto: "PROPIETARIO", clase: "bg-label-warning" };
                        case 5:
                            return { texto: "CONSERJE", clase: "bg-label-warning" };
                        default:
                            return { texto: "Desconocido", clase: "bg-label-secondary" };
                    }
                },
                prepararEliminar: function (id) {
                    this.idcliente = id;
                    $("#modalToggle").modal("show");
                },
                confirmarEliminar: function () {
                    this.$http.delete(`/api/cliente/${this.idcliente}`)
                        .then(() => {
                            this.listar();
                            $("#modalToggle").modal("hide");
                        })
                        .catch(err => {
                            console.error(err);
                            alert("Error al eliminar el cliente.");
                        });
                }
            },
            mounted: function () {
                this.listar();
            }
        });
    </script>

</body>

</html>