<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path=""
  data-template="vertical-menu-template-free">


<head th:replace="~{fragments/head :: head('Login')}"></head>

<body>
  <!-- Content -->

  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <!--<div class="app-brand justify-content-center">
                            <a th:href="@{/}" class="app-brand-link gap-2">
                                <span class="app-brand-text demo text-body fw-bolder">Login</span>
                            </a>
                        </div>-->
            <!-- /Logo -->
            <h4 class="mb-6">Bienvenido a Mybuildingmanagement!</h4>

            <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
              <div class="mb-3">
                <label for="email" class="form-label">N&#250;mero de DNI:</label>
                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese su DNI"
                  autofocus required />
              </div>
              <div class="mb-3 form-password-toggle">
                <label for="email" class="form-label">Contrase&#241;a</label>
                <div class="input-group input-group-merge">
                  <input type="password" id="password" class="form-control" name="password"
                    placeholder="Ingrese su contrase&#241;a" aria-describedby="password" required />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>
              <div class="mb-3">
                <a th:href="@{/main}" class="btn btn-primary d-grid w-100" type="submit">Acceder</a>
              </div>
            </form>

            <!--<p class="text-center">
                            <span>New on our platform?</span>
                            <a href="auth-register-basic.html">
                                <span>Create an account</span>
                            </a>
                        </p>-->
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>

  <!-- / Content -->

  <div th:replace="~{fragments/scripts :: scripts}"></div>

</body>

</html>