<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="scripts">
        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js -->
        <script th:src="@{/vendor/libs/jquery/jquery.js}"></script>
        <script th:src="@{/vendor/libs/popper/popper.js}"></script>
        <script th:src="@{/vendor/js/bootstrap.js}"></script>
        <script th:src="@{/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

        <script th:src="@{/vendor/js/menu.js}"></script>
        <!-- endbuild -->

        <!-- Vendors JS -->
        <script th:src="@{/vendor/libs/apex-charts/apexcharts.js}"></script>

        <!-- Main JS -->
        <script th:src="@{/js/main-app.js}"></script>

        <!-- Page JS -->
        <script th:src="@{/js/dashboards-analytics.js}"></script>

        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>

        <!-- Vue JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    </th:block>
</body>

</html>