<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="none">
        <script th:inline="javascript">
            new Vue({
                el: "#app",
                data: {
                    idusuario: '',
                    nomusuario: '',
                    rolusuario: '',
                    idcliente: '',
                    nomcliente: '',
                },
                methods: {
                    cargarUsuario: function () {
                        this.$http.get('/api/session/usuario')
                            .then(response => {
                                const user = response.body;
                                if (!user || !user.idusuario) {
                                    alert("Tu sesión ha expirado. Por favor, inicia sesión nuevamente.");
                                    window.location.href = "/login";
                                } else {
                                    this.idusuario = user.idusuario;
                                    this.nomusuario = user.nomusuario;
                                    this.rolusuario = user.rolusuario;
                                    this.idcliente = user.idcliente;
                                    this.nomcliente = user.nomcliente;
                                }
                            })
                            .catch(error => {
                                console.error("Error al verificar sesión:", error);
                                alert("Error al verificar sesión. Por favor, inicia sesión nuevamente.");
                                window.location.href = "/login";
                            });
                    },
                    getRolInfo: function (codigo) {
                        switch (codigo) {
                            case 1:
                                return { texto: "U. MAESTRO", clase: "bg-label-success" };
                            case 2:
                                return { texto: "ADMIN. EDIFICIOS", clase: "bg-label-success" };
                            case 3:
                                return { texto: "ADMIN. PROPIETARIO", clase: "bg-label-success" };
                            case 4:
                                return { texto: "PROPIETARIO", clase: "bg-label-warning" };
                            case 5:
                                return { texto: "CONSERJE", clase: "bg-label-warning" };
                            default:
                                return { texto: "Desconocido", clase: "bg-label-secondary" };
                        }
                    },
                },
                mounted: function () {
                    this.cargarUsuario();
                }
            });
        </script>
    </th:block>
</body>